<div class="main-container">
  <h1>Connect with Dawn</h1>
  <!-- <hr> -->
  <fieldset align="center">
    <legend>  <div class="social-media">
        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div></legend>
  </fieldset>

    <form method="POST" action="//formspree.io/youremail@here.com">
      <div class="contact-group-info">
          <div class="name-group">
            <div class="contact-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <input type="text" name="Name: " placeholder="Name">
          </div>
          <div class="email-group">
            <div class="contact-icon">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <input type="email" name="Email: " placeholder="Email">
          </div>
          <div class="phone-group">
            <div class="contact-icon">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <input type="text" name="Phone: " placeholder="Phone">
          </div>

          <div class="text-area-group">
            <div class="contact-icon textarea-icon">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <textarea name="message" placeholder="Message"></textarea>
          </div>


      </div>
      <input type="submit" value="Let's get in touch">
  </form>
  <p>Tammy: <a href="tel:+610417404977">0417 404 977</a></p>
  <p>Mel: <a href="tel:+61422118268">0422 118 268</a></p>
  <p><a href="mailto:info@dawn.org.au">info@dawn.org.au</a></p>
</div>
