<div class="main-container">
  <h1>Connect with Dawn</h1>
  <div class="social-media">
    <a href="#">f</a>
    <a href="#">f</a>
    <a href="#">f</a>
  </div>
    <form method="POST" action="//formspree.io/youremail@here.com">
      <div class="contact-group-info">
          <p>Name</p>
          <input type="text" name="Name" placeholder="Enter name">
          <p>Email</p>
          <input type="email" name="_replyto" placeholder="Enter Email">
          <p>Message</p>
          <textarea name="message" placeholder="Message"></textarea>
      </div>
      <input type="submit" value="Send">
  </form>
  <p>Tammy: <a href="tel:+610417404977">0417 404 977</a></p>
  <p>Mel: <a href="tel:+61422118268">0422 118 268</a></p>
  <p><a href="mailto:info@dawn.org.au">info@dawn.org.au</a></p>
</div>
