/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*=======================================
Custom CSS
=======================================*/

* {
  box-sizing: border-box;
}
p {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
h1, h3 {
  font-family: 'Montserrat', sans-serif;
}
body {
  overflow-x: hidden;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}
/*=======================================
Nav
=======================================*/
nav {
  height: 80px;
  background: #fff;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(22,22,22,0.4);
  border-bottom: 1px solid #787878;
  z-index: 4000;
}
nav a {
  display: block;
}
#logo {
  display: inline-block;
  width: 168px;
  height: 45px;
  position: relative;
  top: 18px;
}
#menu-list {
  width: 300px;
  background: #eee;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -300px;
  transition: all 200ms ease-in-out;
}
#menu-list a {
  text-decoration: none;
  color: #0BB89B;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
#menu-list a:hover {
  font-weight: bold;
}
.hide {
  right: 0px !important;
}
#menu-hamburger {
  position: absolute;
  top: 20px;
  left: -50px;
  cursor: pointer;
  pointer-events: all;
  width: 32px;
  height: 32px;
}
/*=======================================
Slideshow container
=======================================*/
#slideshow-container {
  padding-top: 80px;
  width:100vw;
  height: calc(90vh - 80px);
  border-bottom: 1px solid #787878;
}
.slide-01 {
  background: url("../img/slides/slide-02.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
/*=======================================
Our section
=======================================*/
.our-section {
  padding: 2em 0 4em;
  background: #fff;
  width: 100%;
}
.twitter-section,
.article-section {
  margin: 3em 0;
}
.twitter-section {
  width: 100%;
  height: 100%;
  background: #eee;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
}
.twitter-section h3 {
  display: inline;
}
.twitter-section p {
  display: inline;
}
.twitter-section img {
  width: 100%;
  margin-bottom: 10px;
}
/*=======================================
Programs section
=======================================*/
.program-section {
  background:#fafafa;
  padding: 2em 0 4em;
}
.program-section img {
  background: red;
}
/*=======================================
Our section
=======================================*/
.video-section {
  padding: 2em 0 4em;
  color: #fff;
  background: #2b3d4f;
}
.video-section h1 {
  text-align: center;
  color: #fff;
}
.video-section hr {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: none;
  height: 2px;
  background: #0ab79b;
}
.video-section p {
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: center;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*=======================================
Signup section
=======================================*/
.signup-section {
  padding: 2em 0 4em;
  background: #eee;
  color: #000;
}
.signup-section h1 {
  text-align: center;
  color: #0ab79b;
}
.signup-section p {
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}
.signup-section hr {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: none;
  height: 2px;
  background: #000;
}
#signup-btn {
  color: #fff;
  background: #0ab79b;
  display: inline-block;
  font-family: montserrat, sans-serif;
  border-bottom: 4px solid #138c74;
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 48px;
}
/*=======================================
Core beliefs section
=======================================*/
.core-beliefs-section {
  padding: 2em 0;
  background: #0ab79b;
  color: #fff;
  text-align: center;
}
.core-beliefs-section h1 {
  text-align: center;
}
.core-beliefs-section h3 {
  font-size: 26px;
  margin-bottom: 6px;
}
.core-beliefs-section p {
  margin-bottom: 60px;
}
.core-beliefs-section hr {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: none;
  height: 2px;
  background: #000;
}
/*.core-beliefs-section img {
  border-radius: 50%;
  width: 100%;
}*/
.core-beliefs-section a {
  text-decoration: none;
  color: #fff;
}

/*=======================================
Sponsors section
=======================================*/
#sponsors-section {
  padding: 2em 0 4em;
}
#sponsors-section h1 {
  text-align: center;
  font-size: 28px;
  color: #0ab79b;
}
#sponsors-section img{
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
}
#sponsors-section hr{
  width: 100px;
  margin: 0 auto;
  margin-bottom: 60px;
  background: #000;
  height: 2px;
  border: 0;
}

#hq-logo {
  width: 75px;
}
#rnb-logo {
  width: 252px;
}
#westpac-logo {
  width: 252px;
}
#ys-logo {
  width: 252px;
}
#pikko-logo {
  width: 75px;
}
/*=======================================
contact form section
=======================================*/
#contact-form {
  padding: 2em 0 4em;
  color:#fff;
  background: #000;
  background: url("../img/bg-contact.jpg")
}

#contact-form h1 {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
}

#contact-form hr {
  width: 140px;
  margin: 0 auto;
  border: none;
  height: 2px;
  background: #0ab79b;
}

#contact-form fieldset {
  border-top: 1px solid #363636;
  width: 282px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#contact-form legend {
  padding: 0 10px;
}

#contact-form legend a {
  font-size: 40px;
  margin: 0 6px;
  color: #0ab79b;
}

.contact-group-info {
  width: 100%;
}
.contact-group-info input,
.contact-group-info textarea{
  width: 84%;
  margin-bottom: 20px;
  border: 0px;
  float: left;
  color: #000;
  padding: 16px 10px;
}
.contact-group-info textarea {
  height: 120px;
}
.contact-icon {
  display: inline-block;
  background: #0ab79b;
  width: 16%;
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.textarea-icon {
  height: 120px;
  line-height: 120px;
  resize: none;
}
#submit-btn {
  width: 100%;
  background: #0ab79b;
  border: none;
  height: 50px;
  font-family: montserrat, sans-serif;
  border-bottom: 4px solid #138c74;
  margin-bottom: 70px;
}

.social {
  text-align: center;
  margin: 20px 0;

}
.social a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
.contact-icon-colour {
  color: #0ab79b;
  margin: 0 5px;
}
/*=======================================
Footer
=======================================*/
#footer {
  padding: 2em 0;
  color: #0ab79b;
  background: #161616;
  text-align: center;
  box-shadow: 0px -6px 13px rgba(22,22,22,.4);
  /*border-top: 1px solid #787878;*/
  border-top: #161616;
}
